.buttonsContainer {
    margin-top: 27px;
    display: flex;
    gap: 21px;
}

.clock {

}

.watch {
    font-family: Montserrat, sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 100%;
    letter-spacing: 0;
}

.watch strong {
    font-weight: 600;
}

.more {
    font-family: Montserrat, sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0;
    color: #00000080;
    opacity: 0.5;
    margin-top: 8px;
}