.friendMessage {
    display: flex;
    flex-direction: column;
    height: 77px;
}

.friendImageAndText {
    display: flex;
    height: 60px;
    align-items: flex-end;
    gap: 14px;
}

.friendImageAndText img {
    height: 48px;

}

.friendText {
    background-color: #F5F7FB;
    color: black;
    height: 60px;
    border-radius: 10px;
    padding: 8px 13px;
    position: relative;
}

.friendText::after {
    content: ''; /* Псевдоэлемент пустой, используется для фигуры */
    position: absolute;
    bottom: 0; /* Расположен снизу блока */
    left: -10px; /* Смещаем стрелочку вправо за границы блока */
    width: 0;
    height: 0;
    border-width: 10px; /* Размер стрелочки */
    border-style: solid;
    border-color: transparent transparent #F5F7FB transparent; /* Нижний треугольник синий, остальные прозрачные */
}

.friendName {

}

.friendMessageText {

}

.friendTime {
    font-size: 10px;
    font-weight: 600;
    padding-left: 11px;
}
